#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio Code files
#.vscode/

#Visual Studio files
.vs/
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
[Oo]bj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad

#MonoDevelop
*.pidb
*.userprefs

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*
*.sass-cache

#Project files
[Bb]uild/
[Tt]esting/
*.tmp_proj

#Subversion files
.svn

# Office Temp Files
~$*

# vim Temp Files
*~

#NuGet
packages/
*.nupkg

#ncrunch
*ncrunch*
*crunch*.local.xml

# visual studio database projects
*.dbmdl

#Test files
*.testsettings

*.vspx
UpgradeLog.htm

Telerik_UI_for_WPF_Source/Binaries/**
TDSP.VC.opendb
/TDSP.VC.VC.opendb
/TDSP.VC.db
SoundJarBundle/Resource/SQLEXPRADV_x86_ENU.exe
SoundJarBundle/Resource/dotnetfx35setup.exe
SoundJarBundle/Resource/SQLEXPRADV_x64_ENU.exe
Telerik_UI_for_WPF_Source/Binaries/WPF45/Dev/*

# ignore STM32CubeMX files
.cproject
.project
.mxproject